.dashboard-html {
    background-color:indianred;
}


.dashboard-layout {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;

    width: 15%;

    justify-content: space-around;

    padding: 15px;
    
    font-family: sans-serif;

    align-items: center;

    color: white;
}

.dashboard-menu-navigation {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.dashboard-main {
    display: flex;
    flex-direction:column;

    width:100%;

    padding: 15px;
}

.dashboard-main-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-main-analytics-section {
    border-radius: 20px;
    padding: 10px;
    height: 100vh;
    background-color: #545454;

    display: flex;
    flex-direction: column;

    gap: 10px;


}

.dashboard-main-analytics-section-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 10px;
}

.dashboard-main-analytics-section-header-subsection-1 {
    display: flex;
    flex-direction: column;
}

.dashboard-main-analytics-section-token-cards {
    display: flex;
    flex-direction: row;

    padding: 10px;

    gap: 10px;
}

.dashboard-main-analytics-section-token-cards-container {
    display: flex;
    flex-direction: column;

    padding: 10px;

    width: 25%;
    height: 80px;

    background-color: black;

    border: 1px solid black;
    border-radius: 10px;

    color: white;

    font-family: "Poppins", sans-serif;
}

.dashboard-main-analytics-section-token-cards-container-header {
    display: flex;
    flex-direction: row;

    gap: 10px;

    align-items: center;
}

.dashboard-main-analytics-section-token-cards-container-header-text {
    display: flex;
    flex-direction: column;
}

.dashboard-main-analytics-section-token-cards-container img {
    width: fit-content;
    height:40px;
}


.dashboard-main-analytics-section-portfolio {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.dashboard-main-analytics-section-portfolio-token-balance {
    display: flex;
    flex-direction: column;

    width: 25%;

    padding: 10px;

    gap: 5px;

    background-color: white;
    border-radius: 10px;
}