.dashboard-html {
    background-color: indianred;
}


.dashboard-layout {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;

    width: 15%;

    justify-content: space-around;

    padding: 15px;
    
    font-family: sans-serif;

    align-items: center;
}

.dashboard-menu-navigation {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.dashboard-main {
    display: flex;
    flex-direction:column;

    width:100%;

    padding: 15px;
}

.dashboard-main-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-main-analytics-section {
    border-radius: 20px;
    padding: 20px;
    height: 100vh;
    background-color: lightgray;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.dashboard-main-analytics-section-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.dashboard-main-analytics-section-header-subsection-1 {
    display: flex;
    flex-direction: column;
}

.dashboard-main-analytics-section-token-cards {
    display: flex;
    flex-direction: row;
}

.dashboard-main-analytics-section-token-cards-container {
    display: flex;
    flex-direction: column;
}