{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Chain - Dashboard</title>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script
        src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
        type="module"></script>

</head>



<body>
    <main class="main-content">

        <div class="dashboard-side-one">

            <div class="dashboard-balance-widget">
                <span class="dashboard-balance-widget-label-text">Available Balance</span>
                <span class="dashboard-balance-widget-label-balance">$12,000.00</span>
                <span>0xd38....9345</span>
            </div>

            <div class="dashboard-expense-income-widget-section">

                <div class="dashboard-expense-widget">

                    <div id="expense-sparkline" class="sparkline"></div>

                    <div class="dashboard-expense-widget-text">
                        <span>Expense</span>
                        <span>$5,0000</span>
                    </div>
                    
                </div>

                <div class="dashboard-income-widget">

                    <div id="income-sparkline" class="sparkline"></div>
                    <div class="dashboard-income-widget-text">
                        <span>income</span>
                        <span>$12,0000</span>
                    </div>
                </div>

            </div>

            <div class="dashboard-transaction-history-widget">
                
                <div class="dashboard-transaction-history-widget-labels">
                    <span>Transaction History</span>
                    <span>View all</span>
                </div>

            </div>
        </div>

    </main>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'js/linechart.js' %}"></script>
    <script src="{% static 'js/expense.js' %}"></script>
    <script src="{% static 'js/income.js' %}"></script>

    <!-- Insert Footer When Ready-->

</body>
</html>